/* Clase del rectangulo que muestra la fecha cuando se mueve el mouse*/
.current_date {
}

#chart_svg {
    max-width: 100%;
    border: 1px solid #a3a3a3;
    height: 505px;
}

#main_chart_svg {
    max-width: 850px;
    min-width: 320px;
    width: 100%;
    padding: 5px 0 0 5px;
}

.text_top_container{
    background: #ffffff;
    height: 20px;
    left: 100px;
    position: absolute;
    top: 5px;
    width: 71%;
}

.text_top{
    margin-right: 5px;
    border-bottom: 1px solid;
}

#main_chart_svg #chart-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    max-width: 850px;
    /*border: 1px solid green;*/
}

#main_chart_svg .current_date_text {
    font-size: 12px;
    text-anchor: middle;
}

input.form-control {
    width: 100px !important;
    /*height: 25px !important;*/
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #000000 !important;
}

text.shadow {
    stroke: #d71a36;
    stroke-width: 2.5;
    opacity: 0.9;
}

body {
    font: 12px Arial;
    /*padding: 50px;*/
}

path {
    /*stroke: steelblue;*/
    /*color de amchart*/
    /*stroke: #053757;
    stroke: #FF7F0E;*/
    stroke-width: 2;
    fill: none;
}

#main_chart_svg .axis path,
#main_chart_svg .axis line {
    fill: none;
    stroke: grey;
    stroke: #000000;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#main_chart_svg span.details {
    /*background-color: #000000;*/
    height: 25px;
    width: 40px;
    font-size: 1.5em;
    /*color: #ffffff;*/
}

#main_chart_svg #grafica {
    margin: auto;
    /*max-width: 900px;*/
    margin-top: 10px;
}

#main_chart_svg #chart {
    position: relative;
}

/*Leyenda*/
#main_chart_svg .leyenda {
    padding: 5px;
    position: absolute;
    border-radius: 4px;
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    width: 105px;
}

#main_chart_svg .hidden {
    display: none;
}

#main_chart_svg .chart-rangos {
    float: left;
}

#main_chart_svg .form-group {
    margin-left: 5px;
    float: left;
    margin-bottom: 0;
}

#main_chart_svg .chart-rangos {
    margin-bottom: 5px;
}

#main_chart_svg .operacion {
    background: green;
    color: white;
    font-weight: bold;
    margin: 0 10px;
    padding: 0 10px;
}

.dropdown-menu > li {

}

.dropdown-menu > li > a {
    /*display: inline;*/
}

#main_chart_svg .parametros {
    float: left;
}

/* # Css para las lineas  transparentes de la grafica*/
#main_chart_svg .grid .tick {
    stroke: lightgrey;
    /*stroke-opacity: 0.7;*/
    shape-rendering: crispEdges;
}

#main_chart_svg .grid path {
    stroke-width: 0;
}

/*Para el brish*/
#main_chart_svg .brush .extent {
    stroke: #fff;
    /*stroke: #000000;*/
    fill: black;
    fill-opacity: .35;
    shape-rendering: crispEdges;
}

/*Clase de las barras*/
#main_chart_svg .bar {
    /*fill: steelblue;*/
}

#main_chart_svg .bar:hover {
    fill: #d5cb17;
    fill: #FF7F0E;
    fill: steelblue;
    fill: #FFBB78;
}

#main_chart_svg .tooltip-info {
    opacity: 0;
    padding: 5px 10px;
    background: #000000;
}

.tooltip-text {
    color: #ffffff;
    text-align: center;
}

/*CSS del brush*/

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.area {
    clip-path: url(#clip);
}

.axis_brush path,
.axis_brush line {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*---------------------------------------------AJUSTES-----------------*/

/*.btn-default:hover, .btn-default:focus, .open .dropdown-toggle.btn-default{*/
/*background-color: #ebebeb;*/
/*border-color: #adadad;*/
/*color: #333;*/
/*}*/

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,.open .dropdown-toggle.btn-default {
    background-color: #33CCCC;
    border-color: #24b4b4;
    color: #ffffff;
}

.btn-default:active, .btn-default.active {
    box-shadow: none;
    /*border-color: #238c8c;*/
}

.btn {
    color: #0c8087;
}

.chart-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #0c8087;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.chart-btn:hover, .chart-btn:focus {
    background-color: #33cccc;
    border-color: #24b4b4;
    color: #ffffff;
}





/*header de la fecha*/
.ui-widget-header {
    background: rgba(51, 204, 204, 0.7);
}

/*background de los botones*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}

/*fecha seleccionada*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #33CCCC;
    color: #ffffff;
}