body { font: 12px Arial;}

path {
    stroke: steelblue;
    /*stroke: rgba(51, 204, 204, 0.56);*/
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}